body {
  background:  #e6e6fa;
}

/* ヘッダー */
.header {
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 7%;
 background: snow;
 display: flex;
 align-items: center;
 justify-content: flex-end;
 box-shadow: 0 3px 7px #bcbccc;
}
.header h4{
  font-family: 'Playfair Display', serif;
  color: gray;
  width: 50%;
}
.header-menu li {
  font-family: 'Playfair Display', serif;
  display: inline-block;
  font-size: 0.6em;
  margin-right: 2em
}
.topwrapper {
  width: 80%;
  height: 400px;
  margin: 0 auto;
  background: snow;
  margin-top: 100px;
}
